<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>

        <property name="hibernate.connection.url">jdbc:hsqldb:file:service-monitoring/monitoring</property>

        <!--
        <property name="hibernate.connection.username">SUPERUSER</property>
        <property name="hibernate.connection.password">superuser</property>
        -->

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>


        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="application.entities.Service"/>
        <mapping class="application.entities.Availability"/>
        <mapping class="application.entities.Backup"/>

    </session-factory>
</hibernate-configuration>